<h1>COMMUNAUTE</h1>

<div class="container-lg" style="display:grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
<% @users.each do |user| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <td><%= user.first_name %></td>
      </h5>
        <tr>
        </tr>
      <p class="card-text">
        <% user.dances.each do |dance| %>
        <ul><%= dance.name %></ul>
      </p>
    <% end %>
    <button type="button" class="btn btn-primary text-dark border-0 custom-btn-hover" ><%= link_to 'Voir plus', user %></button>
    </div>
  </div>
  <% end %>
</div>

<button type="button" class="btn btn-primary text-decoration-none text_dark custom-btn" ><%= link_to 'Communautés de danseurs' %></button>

