<img src="/assets/aditya-ali-SzI4No8rQ14-unsplash.jpg" class="img-fluid" alt="Dancing Partners">
<h1>Bienvenue sur Dancing Partners</h1>
<h2>Un regard, une danse, une rencontre, un lifestyle!</h2>
<p>Découvrez les communautés de vos danses favoris.</p>

<%= link_to 'Voir mon profil', user_path(current_user) %>
<!-- app/views/welcome/index.html.erb -->
