Bienvenue sur Dancing Partners

Un regard, une danse, une rencontre, un lifestyle!

Découvrez les communautés de vos danses favoris.

<button type="button" class="btn btn-primary">Inscription</button>
<%= link_to 'Voir mon profil', user_path(current_user) %>
